* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #f8f9fb;
  color: #333;
  line-height: 1.6;
}

/* UTILITIES */
.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

.section {
  padding: 80px 0;
}

.section.light {
  background: #fff;
}

.section-title {
  font-size: 2.2rem;
  margin-bottom: 10px;
}

.section-desc {
  max-width: 600px;
  margin-bottom: 40px;
  color: #666;
}

.btn {
  display: inline-block;
  padding: 12px 24px;
  background: #2f80ed;
  color: #fff;
  border-radius: 6px;
  text-decoration: none;
  transition: 0.3s ease-in-out;
} 
.btn:hover{
  transform: scale(1.1);
  background-color: blue;
  text-decoration: underline;
  border-color: blue;
  box-shadow: 0 0 20px #084da0,0 0 20px #084da0;
}

.btn-outline {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #2f80ed;
  color: #2f80ed;
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s ease;
}
.btn-outline:hover{
  transform: scale(1.1);
  background-color: aqua;
  text-decoration: underline;
  border-color: blue;
  box-shadow: 0 0 40px #90c2ff,0 0 40px #90c2ff ;
}

/* NAVBAR */
.navbar {
  background: #fff;
  border-bottom: 1px solid #eee;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.navbar nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #555;
}

.logo {
  font-weight: bold;
}

/* HERO */
.hero {
  background: #f4f6fb;
  padding: 80px 0;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.hero-text h1 {
  font-size: 3rem;
}

.hero-text p {
  font-size: 1.2rem;
  margin: 15px 0 25px;
}

.hero-image img {
  width: 300px;
  border-radius: 12px;
}

/* CARDS */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
}


.card h3 {
  margin-bottom: 10px;
}

/* PROJECTS */
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.project {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
  text-align: center;
}

.project img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

.project h3 {
  margin-bottom: 10px;
}

.project p {
  color: #666;
  margin-bottom: 15px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .hero-content {
    flex-direction: column;
    text-align: center;
  }
}
.card {
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
  text-align: center; /* Center everything inside the card */
}
.card i {
  display: block;       /* make it a block element */
  font-size: 2rem;
  color: #2f80ed;
  margin: 0 auto 15px;  /* center horizontally and add bottom spacing */
}

